
<div id="calendar">
<div class="pvm" *ngFor ="let date of dates">
<div class="pete" *ngIf = "date.pete && states.peteS || date.pete && states.all"></div>
<div class="pauli" *ngIf ="date.pauli && states.pauliS || date.pauli && states.all"></div>
<div class="erno" *ngIf = "date.erno && states.ernoS || date.erno && states.all"></div>
<div class="osku" *ngIf = "date.osku && states.oskuS || date.osku && states.all" ></div>
<p> {{ date.id }}</p>
<button *ngIf="states.peteS"  (click)="changePete(date.id)"  >vaihda pete</button>
<button *ngIf="states.ernoS" (click)="changeErno(date.id)"  >vaihda erno</button>
<button *ngIf="states.pauliS"  (click)="changePauli(date.id)" >vaihda pauli</button>
<button *ngIf="states.oskuS"  (click)="changeOsku(date.id)"  >vaihda osku</button>
</div>
</div>
