.pvm{
    background-color: bisque;
    float: left;
    height: 100px;
    width: 20%
}
.calendar{
height: 100%;
width: 50%;
}
.pete{
    height: 20px;
    width:25%;
    float: left;
    background-color: red;
}
.erno{
    height: 20px;
    width:25%;
    float: left;
    background-color: blue;
}
.pauli{
    height: 20px;
    width:25%;
    float: left;
    background-color: green;
}
.osku{
    height: 20px;
    width:25%;
    float: left;
    background-color: yellow;
}