<nav>
  <button class="peteC" (click)="changeState(casePete)">Pete</button> 
  <button class="ernoC"(click)="changeState(caseErno)">Erno</button> 
  <button class="kaikkiC"(click)="changeState(caseAll)">Kaikki</button> 
  <button class="pauliC"(click)="changeState(casePauli)">Pauli</button> 
  <button class="oskuC"(click)="changeState(caseOsku)">Oskari</button>
</nav>
<app-date [states]="state"></app-date>