.peteC{
    width: 20%;
    background-color: red;
    height:50px;
}
.ernoC{
    width: 20%;
    background-color: blue;
    height:50px;
}
.kaikkiC{
    width: 20%;
    background-color: purple;
    height:50px;
}
.pauliC{
    width: 20%;
    background-color: green;
    height:50px;
}
.oskuC{
    width: 20%;
    background-color: yellow;
    height:50px;
}